<template name="home">
  <div class="template-home">
    <div class="page-header">
      <h1>Hello, Admin.</h1>
      <h1>Venture Accounts Microservice</h1>
    </div>
    <p>
      This is one of the three back-end services for the Venture React Native app.
    </p>
    <p>
      This is a console for the Venture AccountsSVC application and is kept under high-grade security.
      You have been granted admin privileges.
      With admin privileges, you can add, update, and remove Venture user accounts.

      Note: Exercise solid jurisdiction and make sure to keep your credentials confidential.
    </p>
  </div>
</template>
